<div class="dropdown-menu-calendar p-2 shadow rounded-3" style="width: 340px" id="dropdownCalendar">
    <div class="d-grid gap-1">
        <div class="cal">
            <div class="cal-month">
                <button class="btn cal-btn"
                        type="button"
                        id="btn-previous"
                        onclick="getCalendar('{{ dateSelected|date('Y-m-d') }}', {{ room }}, 1)">
                    <span class="dashicons dashicons-arrow-left"></span>
                </button>
                <strong class="cal-month-name">{{ monthName }}</strong>
                <button class="btn cal-btn" type="button"
                        id="btn-next"
                        onclick="getCalendar('{{ dateSelected|date('Y-m-d') }}', {{ room }}, 2)">
                    <span class="dashicons dashicons-arrow-right"></span>
                </button>
            </div>
            <div class="cal-weekdays text-muted">
                {% for weekday in weekdays %}
                    <div class="cal-weekday">{{ weekday }}</div>
                {% endfor %}
            </div>
            <div class="cal-days">
                {% for week in weeks %}
                    {% for day in week %}
                        {% set key = day.toDateString %}
                        {% set data = dataDays[key] %} <!-- phpstorm -->
                        {% if data.entries|length > 0 %}
                            <button class="btn cal-btn bg-info bookingclick"
                                    type="button"
                                    data-bs-toggle="modal"
                                    data-bs-target="#infoModal"
                                    data-room="{{ room }}"
                                    data-day="{{ day.year }}-{{ day.month }}-{{ day.day }}">
                                {{ day.day }}
                            </button>
                        {% else %}
                            <button class="btn cal-btn" type="button">{{ day.day }}</button>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% include '_modal.html.twig' %}
