{% extends "@email/zurb_2/notification/body.html.twig" %}

{% block lead %}
    <p class="lead">
        {{ email.subject }}
    </p>
{% endblock %}

{% block content %}

    L’e-Square a bien reçu votre demande de réservation.
    <br />
    Nous revenons vers vous au plus vite pour la confirmation.
    <br /><br />

    Salle demandée : {{ room }}
    <br /><br />
    Personne ayant fait la demande:<br />
    Prénom: {{ data.prenom }}<br />
    Nom: {{ data.nom }}<br />
    Téléphone: {{ data.telephone }}<br />
    Email: {{ data.email }}<br />
    Horaires: {{ data.horaires }}<br />
    Informations complémentaires: {{ data.complements }}<br />
    Num TVA: {{ data.tva }}<br />
    <br />
    La demande est en attente pour validation.
    <br /><br />
    Visitez le panel d’administration au lien suivant :
    <br /><br />
    Merci,<br />
    e-Square Coworking<br />
    https://e-square.marche.be<br />

{% endblock %}

{% block footer_content %}
    <p><small>https://e-square.marche.be</small></p>
{% endblock %}

